Package: dataone-cn-os-core
Version: 1.3.0
Section: utils
Priority: optional
Architecture: amd64
Depends: apache2, openjdk-7-jdk, tomcat7, tomcat7-admin, gawk, libapache2-mod-jk, slapd, ldap-utils, libnet-ldap-perl, libio-socket-ssl-perl, debconf, debconf-utils, ntp, xinetd, check-mk-agent, check-mk-agent-logwatch, nagios-plugins-basic, curl, xmlstarlet
Installed-Size: 1 kb
Maintainer: Matt Jones <jones@nceas.ucsb.edu>
Description: This is a metapackage that installs the OS dependencies that are needed to build a coordinating node instance. It also installs several configuration files that are customized for DataONE.
XC-Comment: simply removing this package will corrupt re-installation, so run apt-get purge apache2 apache2-mpm-worker apache2-utils apache2.2-common apache2.2-bin
